
html {
  scroll-behavior: smooth;
}

ul {
   margin-right: 1rem;;
} 
.navbar-brand {
    font-size: 2rem;
}
ul li {
  padding: 10px;
}
ul li a {
    color:white !important;
    padding: 10px;
    
  }
.navbar-nav a{
 font-size: 19px;
 font-weight: 600;
}
ul li a:hover{
    border-radius: 1rem;
    background-color : white;
    color: black !important;
   }
  
 .navbar
{
     background-color: rgba(15, 12, 12 , 0.4 ); 
} 
.portfoli img{
    max-width: 100%;
    transition: all 1s ease;
    
}
.portfoli img:hover{
    transform:scale( 1.3 );
    
}
.portfoli {
    overflow: hidden;  
}
.title::before {
     content: "";
     background-color:black;
     height: 3px;
     width: 200px;
     transform: translateY(60px);
     display: block;
     margin: auto;
     
}
.no-padding [class*=col-]
{
    padding: 0;
}

.bg2{
  padding: 79px;
  background-color: rgba(0, 0, 0 , 0.8 );
  height: 100vh;
}
.bg{
  padding: 79px;
  background-color: rgba(0, 0, 0 , 0.8 );
}


/* ---------------------------parallaxes ----------------- */
.paralax1 {
  /* The image used */
  background-image: url('images/bg2.jpg');

  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 254px;
}

.paralax2 {
  /* The image used */
  background-image: url('images/bg3.jpg');
  
  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading
{
    color: white;
    height: 2rem;
    width: 2rem;

}

.icons {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 12px;
  transition: all 0.5s ease;
}

.icons:hover {
transform: translateY(-25px);
}

.f-icon {
  height: 45px;
  width: 45px;
  cursor: pointer;
  margin: 12px;
  transition: all 0.5s ease;
}

.f-icon:hover {
  transform: scale( 1.3 );
}



